@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Eudoxus Sans", sans-serif;
    scroll-behavior: smooth;
}

@layer components {
    .bg-primary-black {
        background-color: rgb(26 35 46 / 1);
    }
    
    .grid-default  {
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
    }

    .button-click-effect {
        @apply transition duration-200 ease-out hover:shadow-lg active:scale-95;
    }

    .button-filters {
        @apply inline-flex px-4 py-2 border rounded-full cursor-pointer select-none min-w-fit button-click-effect;
    }

    .button-primary {
        @apply w-full py-3 font-semibold text-white bg-blue-500 rounded-lg cursor-pointer mt-7 hover:shadow-lg hover:bg-blue-600 button-click-effect;
    }

    .button-primary-green {
        @apply button-primary bg-green-500 hover:bg-green-600
    }

    .innerWidth  {
        @apply 2xl:max-w-[1280px] w-full
    }
    .interWidth {
        @apply lg:w-[80%] w-[100%]
    }
  

    .yPaddings {
        @apply sm:py-16 xs:py-8 py-12
    }
    .xPaddings {
        @apply sm:px-16 px-6
    }
    .topPaddings {
        @apply sm:pt-16 xs:pt-8 pt-12
    }
    .bottomPaddings {
        @apply sm:pb-16 xs:pb-8 pb-12
    }
  
    .flexCenter {
        @apply flex justify-center items-center
    }
    .flexStart {
        @apply flex justify-start items-start
    }
    .flexEnd {
        @apply flex justify-end
    }
    .navPadding {
        @apply pt-[98px]
    }
 }